@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 1em;
  padding: 0rem;

  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.8s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
