body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* we should change the background design of the webpage 
    background-color: rgb(151, 255, 215); */
}

hr {
    width: 500px;
}

#errors {
    color: red;
}

#board {
    width: 450px;
    height: 450px;
    /* Each cell is 50x50 */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightblue;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.number {
    width: 41px;
    height: 48px;
    border: 2px solid lightblue;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-incorrect {
    color: red;
}

.number-complete {
    background-color: transparent;
    background-color: rgba(128, 128, 128, 0.713);
    /* display: none; */
    pointer-events: none;
}

.number-selected {
    background-color: rgba(129, 242, 250, 0.774);
}

.tile-start {
    background-color: rgba(129, 242, 250, 0.774);
}

.horizontal-line {
    border-bottom: 2px solid black;
}

.vertical-line {
    border-right: 2px solid black;
}

.button {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}

.button-clicked {
    visibility: hidden;
}

.button-unclicked {
    visibility: visible;
}

.title-row {
    width: 450px;
    padding: 10px;
    margin: auto;
}

.title-row-child {
    display: inline;
    padding: 10px;
}

#title {
    padding: 30px;
    justify-self: center;
    justify-content: center;
    align-content: center;
}

.heading {
    width: 450px;
    padding: 10px;
    margin: auto;
}

.heading-child {
    display: inline;
    padding: 10px;
}

.icon:hover {
    cursor:pointer;
}

.noClick {
    pointer-events: none;
 }