body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* we should change the background design of the webpage 
    background-color: rgb(151, 255, 215); */
}

hr {
    width: 500px;
}

#errors {
    color: red;
}

#board {
    width: 450px;
    height: 450px;
    /* Each cell is 50x50 */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 47px;
    height: 47px;
    border: 1px solid lightblue;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 43px;
    height: 48px;
    border: 1px solid rgb(0, 32, 150);
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: rgba(129, 242, 250, 0.774);
}

.horizontal-line {
    border-bottom: 2px solid black;
}

.vertical-line {
    border-right: 2px solid black;
}

.heading {
    margin: auto;
}

.button {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}